{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Home </title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>

        


        <div align="center" class="container">
            <h1>  Welcome To the Diabetes Prediction Page</h1>
            <h2>Get your Diabetes<br> Real time prediction<br> In one click</h2>
            <form action="predict" class="form1">
                <button class="button" align="center"><span>Hover </span></button>
            </form>
        </div>
  
    </body>
</html>